button{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(14, 14, 14, 0.297) ;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 0 15px 0 ;
    border: none; 
}

button:hover{
    cursor: pointer;
}

.searchButton{
    
    background-color: rosybrown;
    color: black;
    font-weight: bold;
    margin-right: 60px;
 
  }
  .searchField{
    background-color: rgba(77, 79, 77, 0.18);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    height: 20px;
    border-radius: 5px;
    width: 350px;
  }
   .searchContainer{
     width: 60%;
   }